<div class="page-header text-center">
  <h3>
    Groceries
    <span
      class="glyphicon  glyphicon-ok pull-right"
      routerLink="/items"
      routerLinkActive="active"
      aria-hidden="true">
    </span>
    <span
      class="glyphicon glyphicon-plus pull-left"
      tooltip="Click for create new item"
      aria-hidden="true"
      (click)="createModal.show()"
    >
    </span>
  </h3>

</div>
<ul *ngIf="items && items.length !== 0" class="list-group">
  <edit-item
    *ngFor="let item of items "
    [item]="item"
    (remove)="deleteItem($event)"
    (change)="changeItem($event)"
  ></edit-item>
</ul>


<!--modal for create item-->
<div class="modal fade" bsModal #createModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header text-center">
        <strong>Add new list item</strong>
        <span role="button" class="pull-right" (click)="applyModal()">Done</span>
        <span role="button" class="pull-left" (click)="closeModal()">Cancel</span>
      </div>
      <div class="modal-body">
        <h4 class="text-center">Add new list item</h4>
        <div>
          <input
            class="form-control"
            type="text"
            maxlength="26"
            [(ngModel)]="newItem">
          <p class="text-right">Characters left {{ 26 - newItem.length }}</p>
        </div>

      </div>
    </div>
  </div>
</div>
