<p *ngIf=!edit class="clearfix">
  <button
    type="button"
    class="btn btn-default"
    tooltip="Click for change"
    (click)="changeItem('cart')"
  >
    <span *ngIf="!item.cart" class="glyphicon glyphicon-home " aria-hidden="true"></span>
    <span *ngIf="item.cart" class="glyphicon glyphicon-shopping-cart " aria-hidden="true"></span>
  </button>

  <span
    class="textWrapper"
    tooltip="Click for edit"
    (click)="edit = true"
  >{{item.text}}</span>

  <span
    class="glyphicon glyphicon-remove-circle pull-right icon-remove"
    aria-hidden="true"
    tooltip="Click for remove"
    mwlConfirmationPopover
    [title]="'Remove Item'"
    [message]="'Are you sure?'"
    placement="left"
    (confirm)="removeItem()"
  ></span>
</p>

<p *ngIf=edit class="clearfix">
  <input
    [autofocus]
    (blur)="changeItem($event)"
    (keydown.enter)="changeItem($event)"
    type="text"
    maxlength="26"
    [value]="item.text"
  />
</p>

