.textWrapper{
  line-height: 34px;
  padding-left:15px
}
p{
  margin:0;
  border-bottom: 1px solid grey;
}
.icon-remove{
  font-size: 18px;
  line-height: 32px;
  padding-right: 10px;
  color: rgba(210, 92, 92, 0.97);
}

.btn{
  border-radius: 0;
  border: none;
  height: 34px;
  background-color: lightgrey;
  pading:0;
}

input{
  line-height:33px;
  width: 100%;
  padding-left: 35px;
  border: none;
}

