<div class="page-header text-center">
  <h3>
    Groceries
    <span
      class="glyphicon glyphicon-edit pull-right"
      routerLink="/edit"
      routerLinkActive="active"
      tooltip="Click for edit"
      aria-hidden="true">
    </span>
  </h3>

</div>
<div class="wrapperList">
  <ul *ngIf="items && items.length !== 0" class="list-group">
    <item *ngFor="let item of items " [item]="item" (changeType)="changeCart($event)"></item>
  </ul>
</div>
