<div class="container-fluid wrapper clearfix">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 ">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" [ngClass]="getClass(false)" (click)="setSort(false)">
        <span
          class="glyphicon glyphicon-list"
          aria-hidden="true">
        </span>
      </button>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" [ngClass]="getClass(true)" (click)="setSort(true)">
        <span
          class="glyphicon glyphicon-shopping-cart "
          aria-hidden="true">
        </span>
      </button>
    </div>
  </div>
</footer>

