.wrapper {
  padding-bottom: 45px;
  height: 100%;
  overflow-y: scroll;
}

footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  padding-right: 30px;
}

button {
  height: 45px;
  font-size: 24px;
}

.activeSortBtn {
  background-color: grey;
  color: white;
}
