<p class="clearfix">
  <span class="textWrapper">{{item.text}}</span>
  <button
    type="button"
    class="btn btn-default"
    [ngClass]=getClass()
    tooltip="Click for change"
    (click)="changeCart()"
  >
    <span *ngIf="!item.cart" class="glyphicon glyphicon-home " aria-hidden="true"></span>
    <span *ngIf="item.cart" class="glyphicon glyphicon-shopping-cart " aria-hidden="true"></span>
  </button>
</p>

