.textWrapper{
  line-height: 34px;
  padding-left:15px
}
p{
  margin:0;
  border-bottom: 1px solid grey;
}
.btn{
  border-radius: 0;
  border: none;
  height: 34px;
  background-color: lightgrey;
  pading:0;
}

